<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Car Rental </a>
  <a routerLinkActive="active" routerLink="/home">Početna strana</a>
  <a routerLinkActive="active" routerLink="/login">Login</a>
 <!-- <a (click)="logout()">Logout</a>-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<main role="main">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>

