<div class="row" >
  <div class="col-sm-4" *ngFor="let item of items">
    <div class="card border-secondary" style="width: 18rem; padding: 1%">
      <img src="https://www.seslhd.health.nsw.gov.au/sites/default/files/2018-07/320x200.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{item.brandName}} {{item.model}}</h5>
        <p class="card-text" >{{item.description}}</p>
        <div class="row">
          <a href="#" class="btn btn-primary ml-1" [routerLink]="['/details',item.id]">Detalji</a>
          <a href="#" class="btn btn-success ml-4" [routerLink]="['/renting',item.id]">Iznajmi ({{item.rentalPrice}}€)</a>
        </div>
      </div>
    </div>
  </div>
</div>

